html {
  height: 100%;
  width: 100%;
}

body {
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.row {
  display: table-row;
  height: 50%;
}

.row:nth-child(1) {
  background-color: #eee;
}

.row:nth-child(2) {
  background-color: #ddd;
}


#upper-container{
  display: flex;
  border-top: 1px solid black;
}



.daycare{
  border:1px solid black;
  padding:20px;
  margin:20px;
}

label, input{
  display:block;
  flex-basis: 10%;
  margin: 5px 0;
}

<<<<<<< HEAD
#scrolling-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
}

  .card {
    flex: 0 0 auto;
    padding: 10px;
    margin: 0px 10px;
  }
=======
form {
  border: 3px solid black;
  width: 50%;
  height: 100%;
}

#lower-container{
  display: flex;
  border-top: 1px solid black;
>>>>>>> master
}

