html {
  height: 100%;
  width: 100%;
}

body {
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.row {
  display: table-row;
  height: 50%;
}

.row:nth-child(1) {
  background-color: #eee;
}

.row:nth-child(2) {
  background-color: #ddd;
}


#hard {
  border: 3px solid black;
  width: 30%;
  height: 75%;
}

.form {
  border: 3px solid black;
  width: 50%;
  height: 100%;
}

 #lower-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#upper-container{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

  .card {
    flex: 0 0 auto;
  }


.daycare{
  border:1px solid black;
  padding:20px;
  margin:20px;
}

label, input{
  display:block;
  flex-basis: 10%;
  margin: 5px 0;
}